body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: #b18989;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.noticia {
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
}

.noticia img {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}

p {
    text-align: justify;
}
.noticia2{
    display: flex;
    height: 400px;
    
}
#contacto-container {
    display: none;
    
}
h2{text-align: center;

}

ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #e9d3d3;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #e0c7c7;
  }
  
  li a.active {
    color: white;
    background-color: #b18989;
  }
  .logo{
    height: 250px;
  }
